<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-col">
    <div class="text-center">
      <a routerLink="/login" class="link link-accent">Regresar al login</a>
      <h1 class="text-5xl font-bold">Register now!</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <fieldset class="fieldset">

            <label class="label">Nombre</label>
            <input type="email" class="input" placeholder="Ingresa tu nombre" formControlName="name" />
            @if (formUtils.isValidField(registerForm, 'name')) {
            <div role="alert" class="alert alert-error alert-soft mt-2">
              <span>{{formUtils.getError(registerForm, 'name')}}</span>
            </div>
            }

            <label class="label">Tipo de documento</label>
            <select class="select select-secondary" formControlName="documentType">
              <option disabled selected>Selecciona el tipo de documento</option>
              <option>DNI</option>
              <option>Pasaporte</option>
            </select>
            @if (formUtils.isValidField(registerForm, 'documentType')) {
            <div role="alert" class="alert alert-error alert-soft mt-2">
              <span>{{formUtils.getError(registerForm, 'documentType')}}</span>
            </div>
            }

            <label class="label">Numero de documento</label>
            <input type="email" class="input" placeholder="Numero de DNI, pasaporte"
              formControlName="numberIdentification" />
            @if (formUtils.isValidField(registerForm, 'numberIdentification')) {
            <div role="alert" class="alert alert-error alert-soft mt-2">
              <span>{{formUtils.getError(registerForm, 'numberIdentification')}}</span>
            </div>
            }

            <label class="label">Email</label>
            <input type="email" class="input" placeholder="Email" formControlName="email" />
            @if (formUtils.isValidField(registerForm, 'email')) {
            <div role="alert" class="alert alert-error alert-soft mt-2">
              <span>{{formUtils.getError(registerForm, 'email')}}</span>
            </div>
            }

            <label class="label">Password</label>
            <input type="password" class="input" placeholder="Password" formControlName="password" />
            @if (formUtils.isValidField(registerForm, 'password')) {
            <div role="alert" class="alert alert-error alert-soft mt-2">
              <span>{{formUtils.getError(registerForm, 'password')}}</span>
            </div>
            }

            <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
              <label class="label">
                <input type="checkbox" checked="checked" class="toggle" formControlName="terms" />
                Aceptas términos y condiciones
              </label>
              @if (formUtils.isValidField(registerForm, 'terms')) {
              <div role="alert" class="alert alert-error alert-soft mt-2">
                <span>{{formUtils.getError(registerForm, 'terms')}}</span>
              </div>
              }
            </fieldset>


            <button type="submit" class="btn btn-neutral mt-4">Registrar</button>
          </fieldset>


        </form>



      </div>
    </div>
  </div>
</div>

@if (hasError()) {
<div role="alert" class="alert alert-error fixed top-5">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Error! Task failed successfully.</span>
</div>
}

