<section class="flex flex-col justify-center">
  <h2 class="text-2xl font-bold">Historial de citas</h2>
  <div class="mt-5">

    <div class="flex flex-row w-full justify-between items-center">
      <div class="flex flex-col gap-3  w-full">
        <span>Filtrar por:</span>
        <button class="input input-border">
          Pick a date
        </button>
      </div>
      <div class=" flex w-full justify-end">
        <select class="select select-secondary">
          <option disabled selected>Selecciona un estado</option>
          <option>Confirmado</option>
          <option>Pendiente</option>
          <option>Atendido</option>
        </select>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Doctor</th>
            <th>Horario</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                      alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">Hart Hagerty</div>
                  <div class="text-sm opacity-50">United States</div>
                </div>
              </div>
            </td>
            <td>
              Zemlak, Daniel and Leannon
              <br />
              <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
            </td>
            <td>Purple</td>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>

        </tbody>
        <!-- foot -->
        <tfoot>
          <tr>
            <th>Doctor</th>
            <th>Horario</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
